.theme-txt{
    color: #7848F4;
}
.theme-bg{
    background-color: #7848F4;
}

.theme-hover:hover{
    background-color: #7948f4e7;
}

.sign-bg-prop{
    background-position: center;
    background-size: cover;
}
.sign-up-bg{
    background-image: url('../Pic/Signup/sign-up.png');
}
.sign-in-bg{
    background-image: url('../Pic/Signup/unsplash_EVgsAbL51Rk.png');
}
.dropdown-bg{
background-color: #d3d5d741;
}
.module {
    width: 350px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.accordion-body {
    max-height: 200px;
    overflow-y: auto;
}

.signal-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    border: 1px solid;
}

@keyframes blink-animation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Apply animation to the status button */

.active_signal{
background-color: green;
border-color: green;
color: white;
}
.expired_signal{
    background-color: red;
    border-color: red;
    color: white;
}